@charset 'utf-8';
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
:root {
  --main-color: #004999;
  --main-color-light: #006adf;
  --title-color: #000;
  --text-color: #333;
}
html {
  font-size: 62.5%; /* 1rem = 10px */
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}
html::-webkit-scrollbar {
  display: none;
}
body {
  font: 2rem/1.5 'Pretendard', sans-serif;
  color: var(--text-color);
  /*  word-break: keep-all; */
  text-transform: capitalize;
  overflow-x: hidden !important;
  word-break: keep-all;
}
a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}
a:hover {
  text-decoration: none;
  color: var(--main-color);
}
hr,
.hidden {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}
::selection {
  background: var(--main-color);
  color: #fff;
}
img {
  max-width: 100%;
}
button,
label,
a {
  cursor: pointer;
}

.inner {
  width: 154rem;
  margin: 0 auto;
  /* background: rgba(110, 97, 255, 0.3); */
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* background: rgba(255, 43, 43, 0.2); */
  z-index: 100;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  position: relative;
  color: #fff;
}
#header::before {
  content: '';
  position: absolute;
  top: -60rem;
  left: 0;
  width: 100%;
  height: 60rem;
  background: #fff;
  transition: 0.3s;
}
#header.active::before {
  top: 0;
}
#header.hide {
  top: -12rem;
}
.logo a {
  display: block;
  width: 13rem;
  height: 4.2rem;
  background: url(../img/logo.png) no-repeat 0 0;
  /* 임시 */
  /* filter: invert(1); */
}
.gnb {
  display: flex;
  font-weight: 700;
  font-size: 2rem;
}
.gnb > li {
  position: relative;
}
.gnb > li > a {
  display: block;
}
.submenu {
  position: absolute;
  top: 60px;
  left: 0%;
  display: none;
  color: #000;
  width: 100%;
  white-space: nowrap;
}
.submenu > li > a {
  font-weight: 500;
  width: 100%;
  display: block;
  text-align: center;
  white-space: nowrap;
}

.gnb > li > a {
  display: block;
  padding: 10px 20px;
}

.gnb > li.active {
  color: var(--main-color);
}
.gnb > li.active a {
  padding: 10px 35px;
}

.util {
  display: none;
}

.lang-toggle {
  font-weight: 600;
  position: relative; /* 부모 요소에 position: relative; 추가 */
}

.lang-toggle .eng {
  opacity: 0;
  position: absolute;
  bottom: -70%;
  padding-top: 0;
  border-top: 2px solid var(--main-color-light);
  transition: opacity 0.3s ease, bottom 0.3s ease; /* transition 속성 추가 */
}

.lang-toggle:hover .eng {
  opacity: 1;
  bottom: -100%;
}

.right-menu {
  display: flex;
  gap: 2.8rem;
}
.search-ico {
  display: block;
  width: 3rem;
  height: 3.2rem;
  background: url(../img/search-ico.svg) no-repeat 0 0;
}
.tab-search {
  position: absolute;
  bottom: -200%;
  left: 50%;
  transform: translateX(-50%);
  /* display: flex; */
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: none;
}
.search-wrap {
  width: 90rem;
  height: 8rem;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: start;
}
.search-wrap input:focus {
  outline: none;
}
.search-wrap input {
  width: 90%;
  height: 100%;
  background: transparent;
  margin-left: 1.5rem;
}
.search-wrap button {
  display: block;
  height: 3rem;
  aspect-ratio: 1/1;
  background: url(../img/search-ico.svg) no-repeat 0 0 / contain;
  filter: brightness(0);
  margin-left: 2rem;
}
.plus-element {
  position: absolute;
  display: block;
  width: auto;
  height: auto;
  right: 0;
  bottom: -220%;
  text-align: center;
  font-size: 1.8rem;
  color: var(--main-color);
  display: none;
}
.plus-element li {
  width: 16rem;
  height: 6rem;
  border: 2px solid var(--main-color);
  border-radius: 10px;
}
.plus-element li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.plus-element li + li {
  border: none;
  margin-top: 1rem;
  color: #fff;
  border-radius: 10px;
  background: url(../img/contact-us-pic.jpg) 0 0 / cover;
}

.btn-close {
  width: 3rem;
  height: 3.2rem;
  background: url(../img/close-btn.png) 0 0 / contain;
  display: none;
}
#footer {
  background: #222;
  padding: 7rem 0 3.6rem;
}
#footer .logo {
  display: block;
  width: 13rem;
  height: 4.2rem;
  background: url(../img/logo.png) no-repeat 0 0;
}
.footer-link {
  display: flex;
  color: #fff;
}
.footer-link li a {
  display: block;
  position: relative;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 5px 10px;
}
.footer-link li a::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 1.5px;
  height: 40%;
  background: #fff;
}
.footer-link li:first-child a::after {
  display: none;
}
.footer-link li:first-child {
  margin-left: -10px;
}

.footer-con strong {
  color: #ddd;
  font-size: 1.8rem;
}
.footer-con p {
  color: #828282;
  margin-top: 1.8rem;
  font-size: 1.8rem;
}
.footer-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 8rem;
}
.family-site {
  font-size: 1.8rem;
  font-weight: 500;
  color: #ddd;
  display: flex;
  gap: 10rem;
  padding: 1rem 1.5rem;
  border: 2px solid #fff;
  border-radius: 3px;
  height: 5rem;
  position: relative;
  cursor: pointer;
}
.family-site::after {
  content: '';
  display: block;
  width: 2rem;
  height: 2rem;
  background: url(../img/up-arrow.svg) no-repeat 0 0;
  margin-top: 3px;
  transition: 0.4s;
}
.family-site.active::after {
  transform: rotate(180deg); /* active 상태에서는 화살표를 회전하여 위로 표시 */
}
.select-list {
  position: absolute;
  bottom: 100%;
  left: 0;
  padding: 2rem;
  margin-bottom: 1rem;
  background: rgba(17, 17, 17, 0.8);
  border: 1px solid rgba(17, 17, 17, 0.2);
  border-radius: 3px;
  filter: drop-shadow(1px 2px 4px rgba(0, 0, 0, 0.15));
  backdrop-filter: blur(1px);
  font-size: 1.6rem;
  font-weight: 400;
  color: #fff;

  width: 100%;
  overflow: hidden;
  transition: 0.4s ease; /* max-height에 대한 트랜지션 속성 추가 */
  max-height: 5rem; /* 초기에는 숨겨진 상태로 유지 */
  opacity: 0;
}

.select-list.active {
  max-height: 50rem;
  opacity: 1;
}

.select-list li + li {
  margin-top: 2rem;
}
