@charset 'utf-8';
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
:root {
  --main-color: #004999;
  --main-color-light: #006adf;
  --title-color: #000;
  --text-color: #333;
}
html {
  font-size: 62.5%; /* 1rem = 10px */
  scroll-behavior: smooth;
}
body {
  font: 2rem/1.5 'Pretendard', sans-serif;
  color: var(--text-color);
  /*  word-break: keep-all; */
  text-transform: capitalize;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}
a:hover {
  text-decoration: none;
  color: var(--main-color);
}
hr,
.hidden {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}
::selection {
  background: var(--main-color);
  color: #fff;
}
img {
  max-width: 100%;
}
button,
label,
a {
  cursor: pointer;
}

.inner {
  width: 154rem;
  margin: 0 auto;
  background: rgba(255, 242, 97, 0.3);
}
.logo a {
  display: block;
  width: 13rem;
  height: 4.2rem;
  background: url(../img/logo.png) no-repeat 0 0;
  /* 임시 */
  /* filter: invert(1); */
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 43, 43, 0.2);
  z-index: 100;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12rem;
  position: relative;
  color: #fff;
}
#header::before {
  content: '';
  position: absolute;
  top: -52rem;
  left: 0;
  width: 100%;
  height: 52rem;
  background: #fff;
  transition: 0.3s;
}
#header.active::before {
  top: 0;
}
#header.hide {
  top: 12rem;
}
.gnb {
  display: flex;
  font-weight: 700;
  font-size: 2rem;
}
.gnb li {
  position: relative;
}
.gnb li.on {
  background: #fff;
}
.gnb li a {
  display: block;
  padding: 10px 20px;
}
.gnb li::after {
  content: '';
  display: block;
  width: 0%;
  height: 3px;
  background: var(--main-color);
  transition: 0.3s;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.gnb li:hover::after,
.gnb li.active::after {
  width: 80%;
}
.gnb li.active {
  color: var(--main-color);
}

/* .submenu, */
.plus-element,
.lang-toggle .eng,
.tab-search,
.util {
  display: none;
}
.right-menu {
  display: flex;
  gap: 2.8rem;
}
.search-ico {
  display: block;
  width: 3rem;
  height: 3.2rem;
  background: #ff5;
}
.submenu {
  position: absolute;
  top: 60px;
  font-weight: 400;
}
