@charset 'utf-8';
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
:root {
  --main-color: #004999;
  --main-color-light: #006adf;
  --title-color: #000;
  --text-color: #333;
}
html {
  font-size: 62.5%; /* 1rem = 10px */
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}
html::-webkit-scrollbar {
  display: none;
}
body {
  font: 2rem/1.5 'Pretendard', sans-serif;
  color: var(--text-color);
  /*  word-break: keep-all; */
  text-transform: capitalize;
  overflow-x: hidden !important;
}
a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}
a:hover {
  text-decoration: none;
  color: var(--main-color);
}
hr,
.hidden {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}
::selection {
  background: var(--main-color);
  color: #fff;
}
img {
  max-width: 100%;
}
button,
label,
a {
  cursor: pointer;
}

.inner {
  width: 154rem;
  margin: 0 auto;
  /* background: rgba(110, 97, 255, 0.3); */
}
.logo a {
  display: block;
  width: 13rem;
  height: 4.2rem;
  background: url(../img/logo.png) no-repeat 0 0;
  /* 임시 */
  /* filter: invert(1); */
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* background: rgba(255, 43, 43, 0.2); */
  z-index: 100;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  position: relative;
  color: #fff;
}
#header::before {
  content: '';
  position: absolute;
  top: -60rem;
  left: 0;
  width: 100%;
  height: 60rem;
  background: #fff;
  transition: 0.3s;
}
#header.active::before {
  top: 0;
}
#header.hide {
  top: 12rem;
}
.gnb {
  display: flex;
  font-weight: 700;
  font-size: 2rem;
}
.gnb > li {
  position: relative;
}
.submenu {
  position: absolute;
  top: 70px;
  font-weight: 400;
  left: 0%;
  display: none;
}
.submenu > li {
  padding-top: 16px;
  text-align: center;
}
.gnb > li.on {
  background: #fff;
}
.gnb > li > a {
  display: block;
  /* padding: 10px 20px; */
  padding: 10px 35px;
}
.gnb > li::after {
  content: '';
  display: block;
  width: 0%;
  height: 3px;
  background: var(--main-color);
  transition: 0.3s;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.gnb > li:hover::after,
.gnb > li.active::after {
  width: 80%;
}
.gnb > li.active {
  color: var(--main-color);
}

/* .submenu, */
.plus-element,
.lang-toggle .eng,
.tab-search,
.util {
  display: none;
}
.lang-toggle {
  font-weight: 600;
}
.lang-toggle.active .eng {
  display: block;
  position: absolute;
  bottom: 5%;
  padding-top: 5px;
  border-top: 2px solid var(--main-color);
}
.right-menu {
  display: flex;
  gap: 2.8rem;
}
.search-ico {
  display: block;
  width: 3rem;
  height: 3.2rem;
  background: url(../img/search-ico.svg) no-repeat 0 0;
  /* filter: invert(1); */
}

#footer {
  background: #222;
  padding: 7rem 0 3.6rem;
}
#footer .logo {
  display: block;
  width: 13rem;
  height: 4.2rem;
  background: url(../img/logo.png) no-repeat 0 0;
}
.footer-link {
  display: flex;
  color: #fff;
}
.footer-link li a {
  display: block;
  position: relative;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 5px 10px;
}
.footer-link li a::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 1.5px;
  height: 40%;
  background: #fff;
}
.footer-link li:first-child a::after {
  display: none;
}
.footer-link li:first-child {
  margin-left: -10px;
}

.footer-con strong {
  color: #ddd;
  font-size: 1.8rem;
}
.footer-con p {
  color: #828282;
  margin-top: 1.8rem;
  font-size: 1.8rem;
}
.footer-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 8rem;
}
.family-site {
  font-size: 1.8rem;
  font-weight: 500;
  color: #ddd;
  display: flex;
  gap: 10rem;
  padding: 1rem 1.5rem;
  border: 2px solid #fff;
  border-radius: 3px;
  height: 5rem;
}
.family-site::after {
  content: '';
  display: block;
  width: 2rem;
  height: 2rem;
  background: url(../img/up-arrow.svg) no-repeat 0 0;
  margin-top: 3px;
}
.select-list {
  display: none;
}
